<mat-card class="mov-card">
        <mat-card-header>
            <!-- <img mat-card-avatar [src]="mov.img ? mov.img : {{mov.picture}}"> -->
            <mat-card-title>{{mov.name | uppercase}}</mat-card-title>
            <mat-card-subtitle [ngClass]="{'high': mov.price > 500}">{{mov.price}}€/j</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span class="date-creation">Fiche créée {{mov.creation | creationDate}}</span>
            <div *ngIf="!editMode">
                <span>{{mov.description}}</span>
                <button mat-icon-button (click)="edit()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div *ngIf="editMode">
                <mat-form-field>
                    <textarea matInput [(ngModel)]="mov.description" placeholder="Description"></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary" (click)="validate()" [disabled]="!mov.description">Valider</button>
                <button mat-button color="warn" (click)="cancel()">Annuler</button>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button [routerLink]="['/movs', mov.id]">DETAILS</button>
            <button mat-button color="warn" (click)="delete()">SUPPRIMER</button>
        </mat-card-actions>
    </mat-card>
